@model ProjetoBase.ViewModels.EditarProdutoViewModel


@{
    ViewBag.Title = "Criar Novo Produto...";
}

<h2>Novo Produto</h2>

@using (Html.BeginForm())
{ 
    @Html.Partial("Partials/EditarProdutoPartial", Model)
    <button type="submit" class="btn btn-default">Criar</button>
}